:root {
  --html-font-size: 16px;

  --font-01: 'PreloSlabSemiBold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --font-02: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  // Black Shades
  --black-100: #000000;
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);

  // White Shades
  --white-100: var(--bs-body-bg);
  --white-90: rgba(255, 255, 255, 0.9);
  --white-85: rgba(255, 255, 255, 0.85);
  --white-77: rgba(255, 255, 255, 0.77);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-15: rgba(255, 255, 255, 0.15);
  --white-10: rgba(255, 255, 255, 0.1);

  // * Primary
  --primary-50: #ebf7ec;
  --primary-100: #c8e9cc;
  --primary-150: #bde5c2;
  --primary-200: #9ad7a1;
  --primary-300: #68c373;
  --primary-400: #35af44;
  --primary-450: #1ca52c;
  --primary-500: #038712;
  --primary-600: #026c0e;
  --primary-650: #02640d;
  --primary-700: #02510b;
  --primary-800: #013e08;
  --primary-900: #011f04;

  // * Neutrals
  --neutral-100: #f8f9fa;
  --neutral-200: #eaecef;
  --neutral-300: #dfe2e6;
  --neutral-400: #cfd4d9;
  --neutral-500: #aeb5bc;
  --neutral-550: #8c939a;
  --neutral-600: #6e757c;
  --neutral-700: #4a5056;
  --neutral-800: #353a3f;
  --neutral-900: #222529;

  // * Semantic
  // * Success
  --success: #038712;
  --success-bg-subtle: #ebf7ed;
  --success-border-subtle: #accebc;
  --success-text-emphasis: #183524;

  // * Danger
  --danger: #dc2020;
  --danger-bg-subtle: #fff7e7;
  --danger-border-subtle: #e7b1b6;
  --danger-text-emphasis: #511a1e;

  // * Warning
  --warning: #ffb012;
  --warning-bg-subtle: #fff7e7;
  --warning-border-subtle: #fbe7a5;
  --warning-text-emphasis: #624e17;

  // * Info
  --info: #2876ec;
  --info-bg-subtle: #eaf1fd;
  --info-border-subtle: #afe8f7;
  --info-text-emphasis: #22505e;

  // * Badge
  --badge-a-500: #000000;
  --badge-a-100: #eaecef;

  // Accent (optional)
  --purple: #773dbd;
  --orange: #ff4338;
  --green: #93d500;
  --blue-violet: #6913d0;
  --dark-magenta: #9d1d96;
  --gold: #7f691a;
  --silver: #706f68;
  --mellow-mango: #cd4400;
  --forest-green: #097843;
  --steel-blue: #177bc4;
  --medium-blue: #252fd2;
  --olive-green: #667e07;
  --bern-red: #e0080e;
  --midnight-blue: #1d2674;
  --medium-violet-red: #d13377;

  // * Shadows
  --card-shadow-8: rgba(13, 14, 15, 0.08);
  --card-shadow-6: rgba(13, 14, 15, 0.06);
}

